body {
    font: 15px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    color: #3b3b3b;
    }
    h1 {
    border-bottom: px solid #aaa;
    background-color: #3b3b3b;
    color: #ddd;
    padding: 5px;
    text-align: center;
    }
    h2 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #DDD;
    padding-left: 5px;
    margin: 0 0 0 -15px;
    font-weight: normal;
    text-align: center;
    }
    .secao {
    background-color: #eee;
    padding-left: 15px;
    text-align: center;
    }
    a {
    text-decoration:none;
    color: #f33;
    }